
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { 
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 55pt;
}

h2 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 42pt;
}

h3 {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18pt;
    font-weight: 400;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    font-size: 14pt;
    margin-block-start: 0px;
}

Header {
    background-color: #3B4B64;
    padding: 1% 0;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    align-items: center;
    width: 100%;
}

.flex_item:hover{
    color: #E4A01B;

}

/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #E4A01B;

} */

#row {
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
}

.herocontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323640;
    padding-top: 119px; 
    padding-left: 15%;
    padding-right: 15%;
}


.sectionheader {
    color: #3B4B64; 
    text-align: center;
}

.portfoliocontent h3 {
    color: #3B4B64; 
}



.portfoliocontainer {
    display: flex;
    margin: 40px 15%;
}

.portfoliocontent {
    padding-left: 100px;
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    color: #3B4B64; 
}

button {
    background-color: #E4A01B;
    color: #323640; 
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 18px;
    font-family: 'Montserrat-Reg'; 
    
}

button:hover {
    background: #323640;
    color: white;
}

footer {
    background-color: #3B4B64;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
    padding-bottom: 20px;
    align-items: center;
}

.copyright {

    text-align: center;
}

footer .flex-parent {
    justify-content: flex-start;
}

footer img {
     margin-right: 20px;
}

.header {
    background-color: #3B4B64;
    padding: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
    font-size: 18pt;
}

.herocontent {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#row {
    color: #FFFFFF;
    font-family: 'Montserrat-Reg'; 
}

#hero {
    background-color: #323640;
}

#experienceheader {
    background-color: #323640;
    color: #FFFFFF;
    text-align: center;
    padding-top: 1px;
}

.uxuidesign {
    padding-left: 32%;
    padding-right: 32%;
    font-family: 'Montserrat-Reg';
    font-size: 18pt;
    color: #ffffff;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
}

.downloadresume {
    margin-top: 40px;
    margin-bottom: 60px;
    /* align-self:flex-end; */
    margin-right: auto;
    margin-left: auto;
}



#about > h2 {
    color: #323640; 
    text-align: center;   
    
}

 .sectionAboutContent {
    display: flex;
    align-items: flex-start; 
    
} 

#about {
    /* margin: 0;
    margin-bottom: 50px;
    padding-left: 32%;
    padding-right: 32%; */
    margin: 40px 15%;
    
}

#content-left {
    margin-right: 40px;
}


#aboutmephoto {
    object-fit: contain;
    float: right;
    border-radius: 12px;
    box-shadow: 7px 7px 15px grey;
    margin-left: 3%;
}

#contactheader {
    background-color: #323640;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;

}

.contactFormContainer {
    padding-top: 0%;
    margin-top: 0;
    padding-left: 32%;
    padding-right: 32%;
    /* padding: 20px; */
}

.sendButton {
    margin-top: 0;
    margin-bottom: 40px;
    width: 83%;
}

@media screen and (max-width: 600) {
    
}